
.content {

  grid-column: full-start / full-end;
  background-size: cover;
  background-repeat: no-repeat;

  .infoCard {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    background-color: #fff;
    box-shadow: 1px 0px 24px -8px #00000066;
    margin-bottom: 4rem;
    .cardHeader {
      height: 300px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: -3px;
      .imgeContainer{
        width: 504px;
        height: 221px;
        display: flex;
        margin: auto;
        img{
          width: 100%;
          height: 100%;
          margin-top: 2rem;
          box-shadow: 1px 0px 26px -8px #00000082;
        }
      }
    }

    .cardMain {
      .cardList{
        display: grid;
        grid-template-columns: 25% 1fr;
        border-bottom: 1px solid var(--secondary-color);
        margin-bottom: 12px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: var(--secondary-color);
          width: 10px;
          display: block;
        }
        // padding: 5px 0;
        .cardListInfo {
          display: flex;
          padding-left: 2rem;
          align-items: center;
          border-right: 1px solid var(--secondary-color);
          margin-right: 1.3rem;
          img{
            margin-right: 1rem;
          }
          h4{
            font-size: 1.08rem;
            line-height: 23px;
            color: #636363;
            margin: 0;

          }
        }

        .cardListCont {
          display: flex;
          align-items: center;
          p{
            font-size: 1.3rem;
            color: #636363;
            font-weight: 100;
            margin: 0
          }
        }
      }
    }


  }

}
