
.contact {

    grid-column: full-start / full-end;
    margin-top: 22px;
    min-height: 473px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0rem 4rem;
    position: relative;
    text-align: center;
    @media screen and (max-width: 500px) {
      margin: 0rem 0rem;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: #ffffffbd;
      }

      h1,&__content {z-index: 2;
      position: relative;}

      h1 {
        text-align: center;
        font-size: 3rem;
        color: var(--secondary-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        @media screen and (max-width: 500px) {
          font-size: 2rem;
        }
      }

      &__info {

        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        img {
          width: 70px;
          height: 70px;
          margin: auto;
          margin-bottom: 1rem;
          @media screen and (max-width: 500px) {
            width: 50px;
            height: 50px;
          }

        }

        a {
          width: max-content;
          margin: auto;
          text-decoration: none;
          color: #0b1313;
          font-size: 2rem;
          margin-bottom: 1rem;
          transition: all 0.3s ease-in-out;
          @media screen and (max-width: 500px) {
              font-size: 1.4rem;
          }
          &:hover {
              color: var(--secondary-color)
          }
        }
      }
}
