
.header{

  grid-column: center-start / center-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  width: 100%;

  .logo{
    width: 55px;
    height: 55px
  }
}
