.footer {

  grid-column: full-start / full-end;
  background-color: #08050c;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  color:#bdbdbd;
  font-size: 0.9rem;
  &__info{
    a{
      text-decoration: none;
      color: var(--primary-color);
      font-weight: bold;
      font-size: 1rem;
    }
  }

  &__powred {
    a{

      text-decoration: none;
      color: var(--secondary-color);
      font-weight: bold;
      font-size: 1rem;
    }
  }

}
